.aside 
  .aside__inner
    %h2.aside__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.aside__inner__text
      今すぐ無料ダウンロード！
    .aside__inner__icn
      %a{ :href => '#', :class => 'aside__inner__icn--1' }
         %img{src: "/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34-1.svg", class: "main__catch__inner--title--btn--1--img" }
      %a{ :href => '#', :class => 'aside__inne__icn--2' }
         %img{src: "/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a-1.svg", class: "main__catch__inner--title--btn--2--img" }
