= render "items/header"
-# config/breadcrumbs.rbに定義したmypageを呼び出し
- breadcrumb :mypage
-# 下記を記述した箇所にパンくずリストが表示される。
= breadcrumbs separator: " &nbsp&rsaquo;&nbsp "
= render "mypage"
= render "items/footer"