body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.header {
  padding: 0 60px;
  .inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__top {
      position: relative;
      display: flex;
      align-items: center;
      &__icn {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        &--image {
          width: 140px;
          display: block;
          &--tag {
            width: 150px;
            vertical-align: bottom;
          }
        }
      }
      &__searchBox {
        margin-left: auto;
        width: 100%;
        height: 50px;
        &__fom {
          &--text {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
            position: relative;
          }
          &--submit {
            top:-40px;
            left: 780px;
            position: absolute;
            width: 36px;
            cursor: pointer;
            padding: 6px;
            position: relative;
            background-color: #3CCACE;
            &--box {
              margin: 0;
              padding: 0;
              &--image {
                position: absolute;
                top:10px;
                right: 53px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    &__bottom{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left {
        position: relative;
        display: flex;
        &__brands {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--brand {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__categories {
          text-decoration: none;
          padding: 0;
          &--categorie {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      &__right {
        margin-left: auto;
        display: flex;
        &__member {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
            margin-left: 10px;
          }
        }
        &__login {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__like {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__notification {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__todo {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__mypage {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--button {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }  
    }
  }
}



