.main {
  &__views {
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &--title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &--subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__appLink {
        display: flex;
        margin: 24px 0 0 0;
        &--button {
          margin-right: 10px;
          width: 180px;
          &--img {
            width: 100%;
            vertical-align: bottom;
            height: 53px;
          }
        }
        &--button2 {
          width: 180px;
          &--img2 {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}
.main {
  &__service {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title:after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__left {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
          position: relative;
          margin-bottom: 20px;
          &--number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &--1 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--comment {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          &--1 {
            color: #3CCACE;
          }
          &--2 {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__middle {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
          position: relative;
          margin-bottom: 20px;
          &--number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &--1 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--comment {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          &--1 {
            color: #3CCACE;
          }
          &--2 {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__right {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
          position: relative;
          margin-bottom: 20px;
          &--number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          &--1 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--comment {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          &--1 {
            color: #3CCACE;
          }
          &--2 {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
  }
}
.main {
  &__catch {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin-left: 40px;
      &--title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        &--sub {
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
        &--btn {
          display: flex;
          &--1 {
            margin-right: 10px;
            &--img {
              width: 180px;
            }
          }
          &--2 {
            margin-right: 10px;
            &--img {
              width: 180px;
            }
          }
        }
      }
    }
  }
}
.main {
  &__feature {
    padding: 60px 100px;
    background-color: #fff;
    &--title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &--title:after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__left {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &--img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          &--1 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &--title2 {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__middle {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &--img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          &--2 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &--title2 {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &--img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          &--2 {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &--title2 {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
}
.main {
  &__categories {
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box {
      margin: 0;
      padding: 0;
      &__lead {
        text-align: center;
        &__link {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          &--title {
            font-weight: bold;
          }
        }
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        &--list {
          width: 220px;
          display: inline-block;
          float: left;
          &--link {
            text-decoration:	none;
            background-color: #fff;
            display: inline-block;
            &--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              &--1 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &--comment {
              background-color: white;
              color: #333;
              padding: 16px;
              &--1 {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &--2 {
                font-size: 16px;
                &--top {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &--2 {
                    &--icn {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                &--bottom {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}


.main {
  &__categories2 {
    padding-bottom: 100px;
    padding-top: 30px;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box {
      margin: 0;
      padding: 0;
      &__lead {
        text-align: center;
        &__link {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          &--title {
            font-weight: bold;
          }
        }
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        &--list {
          width: 220px;
          display: inline-block;
          float: left;
          &--link {
            text-decoration:	none;
            background-color: #fff;
            display: inline-block;
            &--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              &--1 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &--comment {
              background-color: white;
              color: #333;
              padding: 16px;
              &--1 {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &--2 {
                font-size: 16px;
                &--top {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &--2 {
                    &--icn {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                &--bottom {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}