* {
  box-sizing: border-box;
}

.resistration-page {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;

  .resistration-page__header{
    color: #ffffff;
    height: 90px;
    
    &__logo {
      padding-top: 10px;
      height: 90px;
      text-align: center;
      line-height: 90px;
    }
  }

  .resistration-page__form{
    height: calc(100vh - 90px - 100px);
    width:400px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #fff;
    overflow: scroll;
    &__header{
      text-align: center;
      padding: 0px 16px;
      font-size: 22px;
      font-weight: bold;
    }
    &__message{
      text-align: center;
      padding: 20px 16px;
      font-size: 16px;
    }

    .field{
      margin-top: 5px;

    }
    .form-require::after {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #f5f5f5;
      font-size: 12px;
      vertical-align: top;
      content: "必須";
      background: red;
    }

    .form-optional::after {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #f5f5f5;
      font-size: 12px;
      vertical-align: top;
      content: "任意";
      background: gray;
    }

    .input-default{
      width: 100%;
      height: 40px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    .input-half{
      width: 45%;
      height: 40px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    .input-one-third{
      width: 25%;
      height: 40px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    span {
      margin: 0 5px;
      line-height: 50px;
    }

    .btn-submit{
      background-color: red;
      color: #ffffff;
      margin-top: 20px;
      width: 100%;
      height: 50px;
    }

    .btn-top{
      display: block;
      background: #3CCACE;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      line-height: 50px;
      text-align: center;
    }
  }

  .resistration-page__footer{
    height: 100px;
    text-align: center;

    ul {
      height: 50px;
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 10px;
    }
  
    li {
      margin-left: 10px;
      font-size: 12px;
    }

    h5{
      height: 50px;
    }
  }
}

.sign-in-page {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;

  .sign-in-page__header{
    color: #ffffff;
    height: 90px;
    
    &__logo {
      padding-top: 10px;
      height: 90px;
      text-align: center;
      line-height: 90px;
    }
  }

  .sign-in-page__form{
    height: calc(100vh - 90px - 100px);
    width:400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    overflow: scroll;

    .field-no-account{
      height: 150px;
      margin-bottom: 20px;
    }

    .field{
      margin-top: 5px;

    }

    .input-default{
      width: 100%;
      height: 40px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    .btn-resistration{
      display: block;
      margin: 8px 0 0;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
      text-decoration: inherit;
      text-align: center;
    }

    .btn-submit{
      background-color: red;
      color: #ffffff;
      margin-top: 13px;
      width: 100%;
      height: 50px;
    }
  }

  .sign-in-page__footer{
    height: 100px;
    text-align: center;

    ul {
      height: 50px;
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 10px;
    }
  
    li {
      margin-left: 10px;
      font-size: 12px;
    }

    h5{
      height: 50px;
    }
  }

}