# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f280497e5b1cb95a0b6f201261b55ec52926465c3a9b6a4a0eb70040be43bcaed38227f3ef140e0115af32167bec5c5f91bd6ba0b64f3b5a6834c7c9a1488952

test:
  secret_key_base: 21d5330077f91435685223751004009c83ebe9b0156fcc6f56050203201d01d268ded5306313619478863373979666ffb4942d94a2c78ef3474b5fb1aefd6cc5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  payjp_private_key: <%= ENV["PAYJP_PRIVATE_KEY"] %>
  payjp_key: <%= ENV["PAYJP_KEY"] %>

default_payjp:
  payjp_private_key: <%= ENV["PAYJP_PRIVATE_KEY"] %>
  payjp_key: <%= ENV["PAYJP_KEY"] %>
