.aside 
  .aside__inner
    %h2.aside__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.aside__inner__text
      今すぐ無料ダウンロード！
    .aside__inner__icn
      .main__catch__inner--title--btn--1--img
        <a href="https://apps.apple.com/us/app/amazon-shopping-made-easy/id297606951?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2008-12-03&kind=iossoftware&bubble=ios_apps) no-repeat;width:218px; height:65px; margin:16px; background-size:contain;"></a>
      .main__catch__inner--title--btn--2--img
        <a href='https://play.google.com/store/apps/details?id=jp.naver.line.android&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png''width="200px" height="97px"/></a>