.search-main__left
  =search_form_for(@q, url: detail_search_items_path) do |f|
    .search-main__left__search_sort
      =f.select( :sorts, { '並び替え': 'id desc', "価格の安い順": "price asc", "価格の高い順": "price desc", "新着順": "upataed_at desc", "古い順": "updated_at asc"}, {onchandge: "this.form.submit()"},class: "search-main__left__search_sort__box")
    .search-main__left__search_form
      .search-main__left__search_form__title
        詳細検索
      .search-main__left__search_form__keyword
        キーワードを追加する
      =f.search_field :name_cont, placeholder: "値下げ", class:"search-main__left__search_form__keyword_box"
      .search-main__left__search_form__price-title
        価格
      .search-main__left__search_form__price-box
        =f.search_field :price_gteq, placeholder: "￥ Min",class:"search-main__left__search_form__price-box__box1"
        %span{class:'search-main__left__search_form__price-box__box3'} 〜
        =f.search_field :price_lteq, placeholder: "￥ Max",class:"search-main__left__search_form__price-box__box2"
      .search-main__left__search_form__condition-title
        商品の状態
      .search-main__left__search_form__condition-box1
        = f.collection_select :condition_id_eq, Condition.all, :id, :name, {prompt: "選択してください"},class:"search-main__left__search_form__condition-box1__box"
      .search-main__left__search_form__prefecture-title
        発送元の地域
      .search-main__left__search_form__prefecture-box1
        = f.collection_select :delivery_way_id_eq, DeliveryWay.all, :id, :name, {prompt: "選択してください"},class:"search-main__left__search_form__prefecture-box1__box"
      .search-main__left__search_form__delivery_charge-title
        配送の負担
      .search-main__left__search_form__delivery_charge-box1
        = f.collection_select :delivery_charge_id_eq, DeliveryCharge.all, :id, :name, {prompt: "選択してください"},class: "search-main__left__search_form__delivery_charge-box1__box"
      .search-main__left__search_form__btn-box
        =f.button "クリア", type: :reset, class:"search-main__left__search_form__btn-box__box"
        =f.submit "完了", class:"search-main__left__search_form__btn-box__submit"