.done-container
  .done-header
    =render partial: 'items/header'
  .done-container__main

    .done-container__main__title
      ご購入ありがとうございます
    .done-container__main__text
      到着までしばらくお待ちください。
    .done-container__main__top
      =link_to "トップページへ戻る",root_path,data:{"turbolinks" => false} 
  .done-footer
    = render partial: 'items/footer'
      