.sell-main

 .sell-header
  = image_tag "logo.png" ,class: "sell-logo"
 .sell-box
  %label{class:"sell-label"} 出品画像
  %label{class:"sell-label__need"} 必須
  %P{class:"sell-text"} 最大10枚までアップロードできます
  %input{type: "text ",class: "sell-image"}
  %label{class: "sell-image-label"} 
   ドラッグアンドドロップまたはクリックしてファイルをアップロード
   %input{type: "file" ,class: "sell-item-image" }
 
  %label{class:"sell-label"} 商品名
  %label{class:"sell-label__need"} 必須
  %input{value: "40文字まで", type:"text" ,class: "sell-item-name"}
  
  %label{class:"sell-label"} 商品の説明
  %label{class:"sell-label__need"} 必須
  %input{value: "商品の説明（必須 1000文字以内) (色、重さ、素材、定価、注意点等)",type: "text" ,class: "sell-item-explanation"}
  
  %p{class:"sell-detail-item"} 商品の詳細
  %label{class:"sell-label"} カテゴリー
  %label{class:"sell-label__need"} 必須
  %input{value: "選択して下さい",type: "text" ,class: "sell-item-category-first"}
  %input{value: "選択して下さい", type:"text" ,class: "sell-item-category-second"}
  %input{value: "選択して下さい", type: "text" ,class: "sell-item-category-third"}

  %label{class:"sell-label"} サイズ
  %label{class:"sell-label__need"} 必須
  %input{value:"選択して下さい",type: "text" ,class: "sell-item-size"}
  
  %label{class:"sell-label"} ブランド
  %label{class:"sell-label__free"} 任意
  %input{value: "例）ナイキ", type:"text" ,class: "sell-item-brand"}
  
  %label{class:"sell-label"} 商品の状態
  %label{class:"sell-label__need"} 必須
  %input{value: "選択して下さい",type:"text" ,class: "sell-item-status"}

  %label{class:"sell-label"} 配送料の負担
  %label{class:"sell-label__need"} 必須
  %input{value: "選択して下さい", type:"text" ,class: "sell-delivery_charges"}

  %label{class:"sell-label"} 発送元の地域
  %label{class:"sell-label__need"} 必須
  %input{value: "選択して下さい", type: "text" ,class: "sell-delivery_ways"}

  %label{class:"sell-label"} 発送までの日数
  %label{class:"sell-label__need"} 必須
  %input{value:"選択して下さい",type: "text" ,class: "sell-delivery_date"}

  %p{class:"sell-item-area"} 価格（¥300〜9,999,999）
  %label{class:"sell-label"} 販売価格
  %label{class:"sell-label__need"} 必須
  %p{class:"sell-yen"} ￥
  %input{type:"number" ,class: "sell-yen__item-price"}

  %label{class:"sell-label"} 販売利益
  %input{type:"number" ,class: "sell-item-profit"}

  %input{type:"submit" ,value: "出品する",class: "sell-submit"}
  .sell-back
   %p もどる
  .sell-rool
   %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、
   %br法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.sell-footer
 %ul 
 %li プライバシーポリシー
 %li FURIMA利用規約
 %li 特定商取引に関する表記
 = image_tag "logo-white.png" ,class: "sell-footer-logo"