.sell-main

 .sell-main__sell-header
  = image_tag "logo.png" ,class: "sell-main__sell-logo"
 .sell-main__sell-box
  .sell-main__sell-box__sell-item-image
   %label{class:"sell-main__sell-box__sell-label"} 出品画像
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %P{class:"sell-main__sell-box__sell-text"} 最大10枚までアップロードできます
   %input{type: "text ",class: "sell-main__sell-box__sell-item-image__sell-image"}
   %label{class: "sell-main__sell-box__sell-item-image__sell-image-label"} 
    ドラッグアンドドロップまたはクリックしてファイルをアップロード
    %input{type: "file" ,class: "sell-item-image" }
  .sell-main__sell-box__sell-item-name
   %label{class:"sell-main__sell-box__sell-label"} 商品名
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "40文字まで", type:"text" ,class: "sell-main__sell-box__sell-item-name__form"}
  .sell-main__sell-box__sell-item-explanation
   %label{class:"sell-main__sell-box__sell-label"} 商品の説明
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "商品の説明（必須 1000文字以内) (色、重さ、素材、定価、注意点等)",type: "text" ,class: "sell-main__sell-box__sell-item-explanation__form"}
  .sell-main__sell-box__sell-item-category
   %p{class:"sell-main__sell-box__sell-item-category__detail"} 商品の詳細
   %label{class:"sell-main__sell-box__sell-label"} カテゴリー
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "選択して下さい",type: "text" ,class: "sell-main__sell-box__sell-item-category__first"}
   %input{value: "選択して下さい", type:"text" ,class: "sell-main__sell-box__sell-item-category__second"}
   %input{value: "選択して下さい", type: "text" ,class: "sell-main__sell-box__sell-item-category__third"}
  .sell-main__sell-box__sell-item-size
   %label{class:"sell-main__sell-box__sell-label"} サイズ
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value:"選択して下さい",type: "text" ,class: "sell-main__sell-box__sell-item-size__form"}
  .sell-main__sell-box__sell-item-brand
   %label{class:"sell-main__sell-box__sell-label"} ブランド
   %label{class:"sell-label__free"} 任意
   %input{value: "例）ナイキ", type:"text" ,class: "sell-main__sell-box__sell-item-brand__form"}
  .sell-main__sell-box__status
   %label{class:"sell-main__sell-box__sell-label"} 商品の状態
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "選択して下さい",type:"text" ,class: "sell-main__sell-box__status__form"}
  .sell-main__sell-box__delivery_charges
   %label{class:"sell-main__sell-box__sell-label"} 配送料の負担
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "選択して下さい", type:"text" ,class: "sell-main__sell-box__delivery_charges__form"}
  .sell-main__sell-box__delivery_ways
   %label{class:"sell-main__sell-box__sell-label"} 発送元の地域
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "選択して下さい", type: "text" ,class: "sell-main__sell-box__delivery_ways__form"}
  .sell-main__sell-box__delivery_date
   %label{class:"sell-main__sell-box__sell-label"} 発送までの日数
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value:"選択して下さい",type: "text" ,class: "sell-main__sell-box__delivery_date__form"}
  .sell-main__sell-box__price
   .sell-main__sell-box__price__area
    %p 価格（¥300〜9,999,999）
   %label{class:"sell-main__sell-box__sell-label"} 販売価格
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %p{class:"sell-main__sell-box__price__yen"} ￥
   %input{type:"number" ,class: "sell-main__sell-box__price__yen__form"}
  .sell-main__sell-box__profit
   .sell-main__sell-box__profit__sell
    %p 販売利益
   %input{type:"number" ,class: "sell-main__sell-box__profit__form"}
  .sell-main__sell-box__submit
   %input{type:"submit" ,value: "出品する",class: "sell-main__sell-box__submit__form"}
  .sell-main__sell-box__back
   =link_to root_path do
    %p もどる
  .sell-main__sell-box__rool
   %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、
   %br法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.sell-main__sell-footer
 %ul 
 %li プライバシーポリシー
 %li FURIMA利用規約
 %li 特定商取引に関する表記
 = image_tag "logo-white.png" ,class: "sell-main__sell-footer__footer-logo"