.wrapper{
  background-color: #f8f8f8;
  .topContents{
    padding: 40px;
    .contents{
      margin: 0 auto;
      background-color:white;
      width:700px;
      padding:24px 40px 0px;
      .itembox{
        &__name{
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        &__imagebox{
          text-align: center;
          margin: 0 auto;
          display: flex;
          .prev-arrow{
            margin-right: 20px;
            margin-top: 120px;
            width: 0;
            height: 0;
            border-left: 0 solid transparent;
            border-right: 15px solid #113463;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
          .next-arrow{
            margin-left: 20px;
            margin-top: 120px;
            width: 0;
            height: 0;
            border-right: 0 solid transparent;
            border-left: 15px solid #113463;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
          .bigimage{
            position: relative;
            width: 100%;
            height: 350px;
            .show-img{
              width: 100%;
              height: 100%;
              object-fit: scale-down;
              margin: 0 auto;
            }
            .imagesmale{
              display: flex;
              justify-content: center;
              margin: 0 auto;
              margin-top: 10px;
              img{
                height: 87px;
                width: 100%;
              }
            }
          }
        }
        .itembox__price{
          text-align: center;
          margin: 24px 0 24px;
          .plice{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__price-ditail{
            font-size: 16px;
          }
        }
      }
      .itembox__Dtail{
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 10px;
      }
      .itemtable{
        margin-bottom: 20px;
        table{
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            th{
              width: 20%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align:center;
            }
            td{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              font-weight: 400;
            }
            a{
              text-decoration: none;
              color: #3ccace;
              font-weight: 400;
            }
          }
        }
      }
      
      .buy-box {
         text-align: center;
        a{
          text-decoration: none;
        }
        .sold-btn {
          padding: 15px 100px 15px 100px;
          margin: 0 auto;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 300%;
          font-size: 18px;
          border-radius: 100px;
        }
        .edit-btn {
          margin: 0 auto;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 330px;
          font-size: 18px;
          border-radius: 100px;
          display: block;
         
        }
        .delete-btn {
          margin: 0 auto;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 330px;
          font-size: 18px;
          border-radius: 100px;
          display: block;
          margin-top: 10px;
        }
        .buy-btn {
          margin: 0 auto;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 330px;
          font-size: 18px;
          border-radius: 100px;
          display: block;
          margin-top: 10px;

        }
      }

      .optionArea{
        display: flex;
        justify-content: space-between;
        ul{
          margin: 10px 0 0;
          display: flex;
          
          .hata{
            font-size: 14px;
            border:1px solid lightslategrey;
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #333;
            a{
              text-decoration: none;
              color:#333;
            }
          }
        }
      }
      .commentText {
        margin: 10px 0;
        padding: 24px;
        text-align: center;
        background-color: #ffffff;
        &__list {
          display: flex;
          margin-bottom: 20px;
          i {
            font-size: 45px;
            color: #3CCACE;
            margin-top: 25px;
          }
          &__content {
            width: 100%;
            margin-left: 20px;
            
            &__name {
              text-align: left;
              font-size: 14px;
            }
            &__message {
              border-radius: 5px;
              text-align: left;
              position: relative;
              padding: 22px;
              background-color: #3CCACE;
              border-radius: 10px;
              word-break: break-all;
            }
            &__message::before {
              content: '';
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              border-radius: 50%;
              transform: rotate(45deg);
              top: 20px;
              left: -15px;
              border-bottom: 20px solid #3CCACE;
              border-left: 20px solid #3CCACE;
              border-top: 20px solid transparent;
              border-right: 20px solid transparent;
            }
            &__message::after {
              content: '';
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              border-radius: 50%;
              transform: rotate(45deg);
              top: 10px;
              left: -20px;
              border-bottom: 20px solid #ffffff;
              border-left: 20px solid #ffffff;
              border-top: 20px solid transparent;
              border-right: 20px solid transparent;
            }
          }
        }
      }
        .commentBox {
          margin: 10px 0;
          padding: 24px;
          text-align: center;
          textarea {
            width: 100%;
            height: 104px;
          }
        
          p {
            font-size: 14px;
            
            text-align: left;
          }
          .noticeMsg {
            padding: 8px;
            margin: 10px 0;
            background-color: #f8f8f8;
          }
          .commentBtn {
            background: #3CCACE;
            line-height: 48px;
            color: #fff;
            font-size: 18px;
            border-radius: 100px;
            width: 60%;
            border: 1px solid #3CCACE;
            }
          }
      }
    }
  }
  .relatedItem{
    text-align: center;
    margin-bottom: 10px;
    height: 80px;
    a{
    display: block;
    margin: 24px 0 8px;
    color: #3CCACE;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    position: relative;         
    }
  }

.footer_show {
  padding: 60px 0;
  color:black;
  background-color: #272727;
  text-align: center;
  &__menus {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__box {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__top {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &--li {
        list-style: none;
        &--1 {
          &--text {
            color:black;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
}