$six:600px;
$fiv:50px;
$for:40px;
$ten:10px;

* {
  box-sizing: border-box;
}

.sell-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 239, 239);
}
.sell-header {
  width: 100%;
  height: 150px;
  background-color: rgb(245, 239, 239);
  text-align: center;
 }
 .sell-logo {
   height: 60px;
   width: 130px;
   margin-top: $fiv;
   margin-bottom: 20px;
   
 }
 .sell-box {
   height: 2400px;
   width: 700px;
   background-color: white;
   margin: 0 auto;
 }

 .sell-image {
  width: $six;
  height: 200px;
  margin-left: $for;
  margin-top: $ten;
  background-color:rgb(245, 239, 239) ;
  position: relative;
 }
 .sell-image-label {
   position: absolute;
   width: 300px;
   height: 20px;
   left: 520px;
   top:350px;
   text-align: center;
  .sell-item-image{
   display: none;
   }
 }
 

 .sell-label {
  margin-top: 50px;
  margin-left: $for;
  display: inline-block;
  &__need {
   background-color: red;
   color: white;
   left: 40px;
  }
 }
 .sell-text{
   height: 20px;
   width: 300px;
   margin-left: $for;
   margin-top: 20px;
   margin-bottom: 20px;

 }

 .sell-item-name {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-item-explanation {
  width: $six;
  height: 200px;
  margin-left: $for;
  text-align: center;
  margin-top: $ten;
 }
 .sell-detail-item {
  height: 10px;
  width: 300px;
  margin-left: $for;
  margin-top: 60px;
  color: gray;
}
 .sell-item-category-first {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }
 .sell-item-category-second {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }
 .sell-item-category-third {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-item-size {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-label {
  margin-top: $fiv;
  margin-left: $for;
  display: inline-block;
  &__free {
   background-color: gray;
   color: white;
   left: $for;
  }
 }

 .sell-item-brand {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;

 }

 .sell-item-status {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-delivery_charges{
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-delivery_ways {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-delivery_date {
  width: $six;
  height: $fiv;
  margin-left: $for;
  margin-top: $ten;
 }

 .sell-item-area{
  height: 10px;
  width: 300px;
  margin-left: $for;
  margin-top: 60px;
  color: gray;
  font-size: 12px;
 }
 .sell-yen{
   margin-left: $for;
   margin-top: 20px;
   position: relative;
   &__item-price {
    width: 200px;
    height: 30px;
    top:2200px;
    left: 400px;
    position: absolute;
   }
  }
 .sell-item-profit{
  width: 200px;
  height: 30px;
  margin-left: 20px;
 }

.sell-submit {
  background-color: rgb(248, 10, 42);
  color: white;
  width: 380px;
  height:$fiv;
  margin-top: $fiv;
  margin-left: 150px;
  font-size: 20px;
 }
 .sell-back {
  margin-top: 20px;
  margin-left: 310px;
  font-size: 12px;
  color: blue;
 }
 .sell-rool {
   color: darkgray;
   font-size: 5px;
   margin-top: $for;
   margin-left: 100px;
 }
 .sell-footer {
   height: 200px;
   width: 100%;
   background-color: rgb(245, 239, 239);
   position: relative;
   text-align: center;
   ul {
     padding-top: 30px;
     background-color: rgb(245, 239, 239);
   }
   li {
     list-style: none;
     font-size: 11px;
     display: inline;
     margin-top: $for;
     margin-left: 5px;
   }
 }
 .sell-footer-logo {
  height: 60px;
  width: 130px;
  position: absolute;
  background-color: rgb(89, 212, 212);
  margin-top:$fiv;
  left: 620px;
  }
   
 
 

 