@mixin buy-inner{
  max-width: 320px;
  margin: 0 auto;
}

@mixin buy-method{
  font-size: 14px;
  margin-top: 8px;
  line-height: 20px;
}

@mixin buy-button{
  color: white;
  padding: 14px;
  width: 100%;
}

@mixin clearfix(){
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin delete-btn{
  height: 50px;
  width: 300px;
  display: block;
  border: 1px solid red;
  background: red;
  color: #fff;
  text-decoration: inherit;
  text-align: center;
  line-height: 50px;
}

$imagecolor: #3CCACE;