.search-main{
  width: 100%;
  height: 500px;
  display: flex;
  &__left {
    height: 100%;
    width: 400px;
  }
  &__right {
    height: 100%;
    width: calc(100% - 400px);
    &__title {
      text-align: center;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
    }
    &__box{
      height: calc(100% - 30px);
      width: 100%;
      &__item {
        display: flex; 
        flex-wrap:wrap;
        text-decoration: none;
        padding: 15px;
        margin-left: 25px;
        .item-image{
          margin-right: 20px;
        }
        &__item-box {
          position: relative;
          &__name {
            top:200px;
            right: 50px;
            width: 100px;
            position: absolute;
          }
          &__price {
            margin-top: 10px;
            top:220px;
            right: 100px;
            position: absolute;
          }
      }
    }
    }
    &__non {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 30px;
      padding-top: 50px;
    }
  }
}