.search-main{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  &__left {
    height: 100%;
    width: 400px;
    &__search_sort{
      height: 50px;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      &__box {
        width: 200px;
        height: 40px;
        background-color: white;
        text-align: center;
      }
    }
    &__search_form {
      border: solid 1px;
      height: 520px;
      width:350px;
      margin-top: 30px;
      background: rgb(245, 245, 245);
      margin-left: 30px;
      &__title {
      font-size: 17px;
      padding-left: 50px;
      }
      &__keyword {
      font-size: 15px;
      margin-top: 10px;
      padding-left: 50px;
      }
      &__keyword_box{
        width: 200px;
        height: 40px;
        background-color:white;
        text-align: center;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
      }
      &__price-title {
      font-size: 15px;
      margin-top: 10px;
      padding-left: 50px;
      }
      &__price-box{
        display: flex;
        &__box1 {
        width: 95px;
        height: 40px;
        background-color:white;
        text-align: center;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
        }
        &__box2 {
        width: 95px;
        height: 40px;
        background-color:white;
        text-align: center;
        margin-top: 10px;
        border-radius: 5px;
        }
        &__box3{
        height: 40px;
        line-height: 60px;
        }
      }
      &__condition-title{
        font-size: 15px;
        margin-top: 10px;
        padding-left: 50px;
      }
      &__condition-box1{
        margin-top: 10px;
        padding-left: 50px;
        font-size: 15px;
        &__box {
        width: 200px;
        height: 40px;
        background-color:white;
        text-align: center;
        margin-top: 5px;
        border-radius: 5px;
        }
      }
      &__prefecture-title{
        font-size: 15px;
        margin-top: 10px;
        padding-left: 50px;
      }
      &__prefecture-box1{
        margin-top: 10px;
        padding-left: 50px;
        font-size: 15px;
        &__box {
          width: 200px;
          height: 40px;
          background-color:white;
          text-align: center;
          margin-top: 5px;
          border-radius: 5px;
        }
      }
      &__delivery_charge-title{
        font-size: 15px;
        margin-top: 10px;
        padding-left: 50px;
      }
      &__delivery_charge-box1{
        margin-top: 10px;
        padding-left: 50px;
        font-size: 15px;
        &__box {
          width: 200px;
          height: 40px;
          background-color:white;
          text-align: center;
          margin-top: 5px;
          border-radius: 5px;
        }
      }

      &__btn-box{
        margin-top: 10px;
        margin-left: 50px;
        font-size: 15px;
        height: 30px;
        width: 100px;
        background-color: #3CCACE;
        text-align: center;
        line-height: 30px;
        border: solid 1px;
        border-radius: 5px;
        position: relative;
        a{
          text-decoration: none;
          color:black;
        }
      }
      &__submit {
        position: absolute;
        top: -10px;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 15px;
        height: 30px;
        width: 100px;
        background-color: rgb(248, 10, 42);
        text-align: center;
        line-height: 30px;
        border: solid 1px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  &__right {
    height: 100%;
    width: calc(100vw - 400px);
    &__title {
      padding-left: 320px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
    }
    &__box{
      height: calc(100% - 30px);
      width: 100%;
      &__item {
        display: flex; 
        flex-wrap:wrap;
        text-decoration: none;
        padding: 30px;
        margin-left: 25px;
        .item-image{
          margin-right: 20px;
          margin-bottom: 60px;
        }
        &__item-box {
          position: relative;
          &__name {
            top:200px;
            right: 30px;
            width: 150px;
            position: absolute;
          }
          &__price {
            margin-top: 10px;
            top:220px;
            right: 120px;
            position: absolute;
          }
      }
    }
    }
    &__non {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 30px;
      padding-top: 50px;
    }
  }
}